.cardlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}
.cardjellies {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.cardturtle {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.cardwaterbird {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.cardsnake {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.categorylinks {
    display: flex;
    flex-wrap: nowrap;
}