body {
    background:grey;
    margin: 1rem;
    font-family: DoHyeon;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'DoHyeon';
    font-weight: normal;
    src: url("./fonts/DoHyeon-Regular.ttf");
}